{% extends 'layout.html' %}

{% block title %} Adding a bot {% endblock %}



{% block msg %}
{% if messages %}
{% for mg in messages %}
<div class="pt-5"></div>
<div class="pt-5"></div>

<div {% if mg.tags %} class="alert alert-{{mg.tags}} alert-danger fade show" role ="alert" {% endif %}><strong>{{mg}}</strong>
  <button type="button" class="btn-danger" data-bs-dismiss="alert" aria-label="Close"> </button>
</div>
{% endfor %}
{% endif %}
{% endblock msg %}




{% block content %}

<div class="col-12 container">
    <h1 class="text-center text-white">
    Добавление ботов
  </h1>

  <div class="container">
    <div class="row mt-5">
            <div class="shadow col-lg-6 m-auto p-5 text-white bg-success-subtle  rounded-4 text-center">
            {% if token %}
                <p class="h4 py-3"> Бот успешно добавлен! </p>
                <head>
        <p class="h6 py-3"> Скопируйте токен: </p>
      <script>
        function copyToClipboard() {
            var text = document.getElementById("textToCopy").innerText;

            // Создаем временный элемент textarea
            var tempElement = document.createElement("textarea");
            tempElement.value = text;
            document.body.appendChild(tempElement);

            // Выделяем весь текст внутри элемента textarea
            tempElement.select();
            tempElement.setSelectionRange(0, 99999); /* Для мобильных устройств */

            // Копируем выделенный текст в буфер обмена
            document.execCommand("copy");

            // Удаляем временный элемент textarea
            document.body.removeChild(tempElement);

            // Выводим сообщение об успешном копировании
            alert("Текст скопирован в буфер обмена!");
        }
    </script>
</head>
<body>
    <p id="textToCopy">{{ token }}</p>
    <button type="button" class="btn btn-warning" onclick="copyToClipboard()">Копировать токен</button>
</body>
            {% else %}

        <p class="h4 py-3" >Добавьте нового бота.</p>

        <form action="" method="POST" novalidate> {% csrf_token %}
          {% for fm in form %}
          <div class="form-group">
            {{fm.label_tag}} {{fm}} <small class="text-warning-emphasis" >{{fm.errors|striptags}}</small>  <br><br>
          </div>
          {% endfor %}
          <input type="submit" value="Добавить" class="btn btn-warning rounded-5 w-100">

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3" >{{error}}</p>
            {% endfor %}
          {% endif %}

        </form><br>
            {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock content %}