{% extends 'layout.html' %}
{% load static %}
{% load django_template_maths %}

{% block content %}
  <div class="container">
    <div class="row mt-10">
      <div class="shadow col-lg-10 p-5 text-white rounded-4 mx-auto">
          <form method="post">
    {% csrf_token %}

    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}


<button type="submit" class="btn btn-danger">Удалить</button>

  </div>
    </div>
  </div>
</div>

{% endblock content %}