{% extends 'layout.html' %}
{% load static %}
{% load django_template_maths %}

{% block title %} Боты {% endblock %}

{% block msg %}
  {% if messages %}
  {% for mg in messages %}
  <div class="pt-5"></div>
  <div class="pt-5"></div>

  <div {% if mg.tags %} class="alert alert-{{mg.tags}} alert-dismissible fade show" role ="alert" {% endif %}><strong>{{mg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
  </div>
  {% endfor %}
  {% endif %}
{% endblock msg %}



{% block content %}

<div class="col-14 container">
  <h1 class="text-center text-white">
    Ваши боты
  </h1>

  <div class="container">
    <div class="row mt-10">
      <div class="shadow col-lg-10 p-5 text-white rounded-4 mx-auto">
      <title> Bots</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="stylesheet" href=#}
{#"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
    </script>
</head>

    <div class="container" style="width:100%" ;>
        <h1 style="color:#ee79eb"> </h1>
    {% if bots %}
        <table id="example" class="table table-striped
            table-bordered table-dark"
            style="width:100%; color:white;">


            <thead>
                <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Public</th>
      <th scope="col">Balance</th>
      <th scope="col">PNL</th>
                </tr>
            </thead>
            <tbody>
   {% for bots_i in bots %}
    <tr>
     <th scope="row">{{ forloop.counter }}</th>
      <td>
          <a class="nav-link" href="{% url 'bot_detail' bots_i.id %}">
                <li>{{ bots_i.bot_name }}</li>
          </a>
      </td>
        <td> {{ bots_i.is_public }} </td>
      <td>{{ bots_i.balance|add_decimal:2 }}</td>
      <td>{{ bots_i.balance|percent_of_number:bots_i.base_balance|add_decimal:2|sub:100 }}% </td>
    </tr>
{#        <small class="text-white"> &centerdot; {{ bots_i.create_at|date:"d F, Y" }}</small>#}

    {% endfor %}
            </tbody>

        </table>
  {% else %}
    <h4 class="text-white text-center my-5"> У вас пока нет ботов :c </h4>
  {% endif %}
    </div>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>
  </div>
    </div>
  </div>
</div>
{% endblock content %}
