{% extends 'layout.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Наш проект представляет собой платформу, которая позволяет пользователям тестировать и отслеживать работу своих
        торговых ботов в режиме реального времени на виртуальном счёте. Это обеспечивает пользователям безрисковую среду
        для совершенствования своих ботов перед их развертыванием на реальном счёте.</p>
    <button class="btn btn-warning">кнопка в никуда</button>

{#<!--    {% for val in values %}-->#}
{#<!--        <p>{{ val }}</p>-->#}
{#<!--    {% endfor %}-->#}
</div>
{% endblock %}